*{
    margin: 0 auto;
    padding: 0;
}
.signup-form{
    width: 500px;
    height: auto;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-top: 10px;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    backdrop-filter: blur(10px);
}

.signup-form-group{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.signup-form-group input {
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 15px;
}

.signup-form-group label {
    margin-bottom: 5px;
    color: #cccccc;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signup-form-group .error {
    color: red;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

